<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Chat</title>
     <!-- Upewnij się, że ścieżka jest poprawna -->
     <script src="/js/chat.bundle.js" defer></script>
     <script src="socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Chat Room</h1>
    <input id="messageInput" type="text" placeholder="Type your message here..." />
    <button id="sendButton">Send</button>
    <ul id="messagesList"></ul>
</body>
</html>
